.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #3498db);
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-control-inner-background: rgba(255, 255, 255, 0.15);
    -fx-cell-hover-color: rgba(255, 255, 255, 0.25);
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1abc9c;
}

.list-cell {
    -fx-text-fill: white;
    -fx-padding: 5px;
}
